@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");
.footer-container .heading-univesity{
  letter-spacing: .5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bolder;

 
}
.footer-container{
background-color: #32404d;

}
.heading-link{
  margin-bottom: 2rem;

}
.footer-container p{
  letter-spacing: .5rem;
}
h1{
  font-size: 1.5rem;
}
.icon-sent{
  color: white;
}
.footer-button{
  background-color: #007a5c;
  padding: 1rem;
}