@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");
.home-container {
  height: 100vh;
  background-image: url("https://cdn.shopify.com/shopifycloud/brochure/assets/content-marketing/blog/blog_header/redesign/cta-blog-small-83826fb88f35dc2fb54aba4d74514088e113410c15f50cfe0703749d9190a5d3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home-container {
  font-size: 1.5rem;
  padding: 4rem;
  align-items: center;
  padding-left: 7rem;
}
.home-container h2 {
  font-weight: 900;
  margin-bottom: 2rem;
  color: #007a5c;
}
.home-container h1 {
  font-weight: 900;
  color: #007a5c;
  font-size: 5rem;
  width: 60%;
  line-height: 5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}
.home-container p {
  width: 50%;
  font-family: "Poppins", sans-serif;
  padding-bottom: 2rem;
}
.btn {
  background-color: #007a5c;
  padding: 2rem;
  border-radius: 1px;
  width: 25%;
  letter-spacing: 0.4rem;
  font-size: 1rem;
}
.btn-shows{
  background-color: #007a5c;
  padding: .5rem;
  border-radius: 1px;
  width: 25%;
  letter-spacing: 0.4rem;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;


}

